@charset "UTF-8";
.pxy-layout-header {
    padding: 0 10px !important;
    background: #fff !important;
}
.pxy-layout-content {
    margin: 10px;
    padding: 10px;
    background: #fff;
}
.ant-layout-header {
    height: 100px !important;
}
.pxy-layout-header-info {
    line-height: 50px !important;
}
.ant-menu-item-only-child,
.ant-menu-submenu-title {
    padding: 0 !important;
    text-align: center !important;
}